.preview-img-container {

    .label-upload {
        margin-right : 20px;
        border       : none;
        background   : #555;
        padding      : 10px 20px;
        border-radius: 3px;
        color        : #fff;
        cursor       : pointer;
        transition   : background .2s ease-in-out;

        &:hover {
            background: #0d45a5;
        }
    }

    .preview-img {
        height         : 400px;
        width          : 100%;
        justify-content: center;
        border         : 2px solid #555;
        background     : center center no-repeat;
        background-size: cover;
    }
}


.btn-secondary {
    margin-left: 10px;
}